* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100vw;
  left: 0;
  top: 0;
  right: 0;
  background-color: #3e3e42;
}

nav .logo {
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-size: 5.5vw;
}

nav .logo .blue {
  color: #007acc;
}

nav .logo .orange {
  color: #ee7425;
}

nav .nav-links {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 10vh;
  height: 100vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  background-color: #3e3e42;
}

nav .nav-links li {
  list-style: none;
  opacity: 0;
  margin-top: 4vh;
}

nav .nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-size: 6vw;
  color: white;
}

nav .nav-links a:hover {
  cursor: pointer;
}

nav .nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

nav .burger {
  cursor: pointer;
}

nav .burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

nav .toggle .line2 {
  opacity: 0;
}

nav .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

main {
  position: fixed;
  top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  height: 90vh;
  width: 100vw;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-height: 90vh;
  padding: 3vh 5vw 12vh 5vw;
  height: auto;
}

#kontakt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#kontakt #number {
  text-align: center;
}

#kontakt a {
  text-decoration: none;
  color: #3e3e42;
  font-weight: 700;
  font-size: 12vw;
  font-family: "Kanit", sans-serif;
}

#kontakt img {
  width: 60%;
}

#serwis {
  padding: 3vh 3vw 3vh 3vw;
}

#serwis h1 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  line-height: 1.2;
  font-size: 40px;
  word-spacing: 0.1cm;
  font-weight: 500;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

#serwis p {
  text-align: justify;
  text-justify: inter-word;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

#marki h1 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  line-height: 1.2;
  font-size: 40px;
  word-spacing: 0.1cm;
  font-weight: 500;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

#marki img {
  width: 100%;
}

#marki #slideshow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#marki #slideshow > div {
  position: absolute;
  margin: auto;
}
/*# sourceMappingURL=index.css.map */